* {
    box-sizing: border-box;
}

body {
    height: 100%;
}

#newBookForm {
    display: none;
}

.cardSection {
    height: 300px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.cards {
    height: 100%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
}